<div>{{#if @outletArgs.model.category.id == 16 }}By posting in this forum, you agree to our terms and conditions.{{/if}}</div>
<div>XX{{ @outletArgs.model.category.id }}, {{ @outletArgs.model.tags }}XX</div>
